<a href="https://colab.research.google.com/github/ronaldobribeiro/scripts/blob/main/CURSO_R_ESTATISTICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dados<-read.csv('dados.csv', header = TRUE, sep = ',')
head(dados)

  UF Sexo Idade Cor Anos.de.Estudo Renda Altura
1 11 0    23    8   12              800  1.603808
2 11 1    23    2   12             1150  1.739790
3 11 1    35    8   15              880  1.760444
4 11 0    46    2    6             3500  1.783158
5 11 1    47    8    9              150  1.690631
6 11 1    34    8   12              790  1.637906

In [ ]:
library(glue)
glue('De {min(dados$Idade)} até { max(dados$Idade)} anos') # forma de verificar dados em nosso dataset

De 13 até 99 anos

In [ ]:
table(dados$Sexo) #ENTENDENDO A FUNÇÃO TABLE

    0     1
53250 23590

In [ ]:
dist_freq<-cbind(freq = table(dados$Sexo), percent = prop.table(table(dados$Sexo))*100) #Criando tabela de visualização dos dados 
dist_freq

  freq  percent
0 53250 69.29984
1 23590 30.70016

In [ ]:
colnames(dist_freq)<-c('Frequencia', 'Porcentagem(%)') # Alterando o nome das colunas em R 
dist_freq

  Frequencia Porcentagem(%)
0 53250      69.29984
1 23590      30.70016

In [ ]:
row.names(dist_freq)<-c('Masculino', 'Feminino') #MUDANDO O NOME DE COLUNAS UTILIZANDO O ROW.NAMES 
dist_freq

          Frequencia Porcentagem(%)
Masculino 53250      69.29984
Feminino  23590      30.70016

MODELAGEM DE NOVA TABELA

In [ ]:
frequencia = table(dados$Sexo, dados$Cor)
frequencia

        0     2     4     6     8
  0   256 22194  5502   235 25063
  1   101  9621  2889   117 10862

In [ ]:
rownames(frequencia)= c('Masculino', 'Feminino')
colnames(frequencia) = c('Indigena','Branca','Preta','Amarela','Parda')
frequencia

          Indigena Branca Preta Amarela Parda
Masculino 256      22194  5502  235     25063
Feminino  101       9621  2889  117     10862

In [ ]:
percentual=prop.table(frequencia)*100
percentual

          Indigena  Branca   Preta    Amarela   Parda
Masculino 0.3331598 28.88339 7.160333 0.3058303 32.61713
Feminino  0.1314420 12.52082 3.759761 0.1522644 14.13587

UTILIZAÇÃO DA FUNÇÃO TAPPLY

In [ ]:
list(c(1,2,3,4),c(5,6,7))

[[1]]
[1] 1 2 3 4

[[2]]
[1] 5 6 7

In [ ]:
medias<-tapply(dados$Renda, list(dados$Sexo, dados$Cor), mean)

rownames(medias)<-c('Masculino','Feminino')
colnames(medias)<-c('Indigena','Branca','Preta','Amarela','Parda')
medias

          Indigena Branca   Preta    Amarela  Parda
Masculino 1081.711 2925.744 1603.862 4758.251 1659.577
Feminino  2464.386 2109.867 1134.596 3027.342 1176.759